<%- include ('partials/header') %>
    <div class="container cart-container ">
        <% if(cart.length > 0) { %>
            <% cart.forEach(function(product) { %>
                <div class="card mb-3" style="max-width: 740px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                        <img src="../images/<%= product.itemObj.image%>" class="card-img">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b><%= product.itemObj.title%></b></h5>
                            <p class="card-text"><b>Book Description: </b><%= product.itemObj.description%></p>
                            <p class="card-text"><b>Author: </b><%= product.itemObj.author%></p>
                            <p class="card-text"><b>Book Genre: </b><%= product.itemObj.bookgenre%></p>
                            <p class="card-text"><b>Price: </b>$<%= product.itemObj.price.value%></p>
                            <p class="card-text"><b>Qty: </b><%= product.quantity%></p>
                        </div>
						<div class="row add-to-cart-group">
							<form action="/cart/update" method="POST">
								<div class="form-group">
									<input class="form-control" placeholder="id" type="hidden" name="_id" value=<%= product.itemObj._id%>>
									<input class="form-control" placeholder="quantity" type="hidden" name="quantity" value=1>
								</div>
								<button class="btn btn-primary" type="submit">Add to Cart - Plus One Quantity</button>
							</form>
                            <% if(product.quantity) {%>
                                <form action="/cart/update" method="POST">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="id" type="hidden" name="_id" value=<%= product.itemObj._id%>>
                                        <input class="form-control" placeholder="quantity" type="hidden" name="quantity" value=-1>
                                    </div>
                                    <button class="btn btn-danger" type="submit">Remove 1 item</button>
                                </form>
                            <% } %>
                        </div>
                        </div>
                    </div>
                </div>
            <%}); %>
            <h3>Total Price: $<%= totalSum %></h3>
            <form action="/cart/checkout" method="POST">
                <div class="form-group">
                    <input class="form-control" placeholder="total_price" type="hidden" name="total_price" value=<%= totalSum %>>
                </div>
                <p style="font-size:20px;">Please select your Payment Method:</p>
                <p style="font-size:20px;">
                <input type="radio" id="visa" name="card" value="Visa">
                <label class="fa fa-cc-visa" for="visa">Visa</label><br>
                <input type="radio" id="amex" name="card" value="Amex">
                <label class="fa fa-cc-amex" for="amex">American Express</label><br>
                <input type="radio" id="discover" name="card" value="Discover">
                <label class="fa fa-cc-discover" for="discover">Discover</label><br>
                <input type="radio" id="mastercard" name="card" value="Mastercard">
                <label class="fa fa-cc-mastercard" for="mastercard">MasterCard</label><br>
                <input type="radio" id="paypal" name="card" value="Paypal">
                <label class="fa fa-paypal" for="paypal">PayPal</label><br>
                </p>
                <button class="btn btn-primary" type="submit">Checkout</button>
            </form>
        <% } %>
    </div>
<%- include ('partials/footer') %>